In [5]:
import pandas as pd
from gensim.models import Word2Vec
from sklearn.cluster import KMeans
import numpy as np

In [6]:
test_data = pd.read_excel(r'C:\Users\markham\OneDrive\Desktop\MFIN7036\group_project\Vectorization+Clustering\data\tset.xlsx')
test_data = test_data.drop(columns=['time','updated','tags'])
test_data['content'] = test_data['title'] + test_data['body']
test_data = test_data.drop(columns=['title','body'])
test_data

                date                                            content
0    January 2, 2023  ['bank', 'israel', 'raise', 'key', 'rate', 'se...
1    January 2, 2023  ['lpga', 'ranking', 'reuters']['jan', '2', 'op...
2    January 2, 2023  ['turkish', 'factory', 'activity', 'contract',...
3    January 2, 2023  ['european', 'share', 'start', '2023', 'upbeat...
4    January 2, 2023  ['weekaheadindiarupee', 'bond', 'yield', 'kick...
..               ...                                                ...
712  January 1, 2023  ['alex', 'tuch', 'lift', 'sabre', 'bruin', 'ot...
713  January 1, 2023  ['taiwan', 'president', 'offer', 'china', 'hel...
714  January 1, 2023  ['kim', 'jong', 'un', 'order', 'new', 'icbm', ...
715  January 1, 2023  ['22', 'new', 'mexico', 'edge', 'wyoming', 'ro...
716  January 1, 2023  ['bank', 'korea', 'chief', 'see', 'conflict', ...

[717 rows x 2 columns]

In [ ]:
model = Word2Vec(sentences=tokenized_news, vector_size=100, window=5, min_count=1, workers=4)